@model KLS_WEB.Models.Travels.Section

<div class="col-12">
    @*<div class="text-left d-flex justify-content-between mb-3">
            <h4>MONITOREO</h4>
        </div>*@
    <div class="p-4 shadow bg-white">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex flex-nowrap">
                    <div class="">
                        <div class="text-left d-flex">
                            <div class="text-uppercase poppins medium size-24 pl-2">MONITOREO</div>
                        </div>
                    </div>
                    <div class="ml-auto pb-2">
                        <button class="btn btn-sm btn-secondary" onclick="agregarComentario(@Model.Id)">
                            <span class="material-icons">
                                add
                            </span>
                        </button>
                        <button class="btn btn-sm btn-secondary" onclick="verCheckpoint(@Model.Id,@Model.RutaId,'@Model.FechaSalida.ToString("MM/dd/yyyy HH:mm:ss")');" style="color:chocolate;">
                            <span class="material-icons">
                                assistant_photo
                            </span>
                        </button>
                    </div>
                </div>
                @if (Model.SectionComments.Any())
                {
                    foreach (var comment in Model.SectionComments)
                    {
                        <div class="card">
                            <div class="card-body p-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5 class="card-title" style="text-transform: uppercase;"><b>Estatus: @comment.Substatus.Status.Name- @comment.Substatus.Name</b></h5>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <h5 class="card-title" style="text-transform: uppercase;"><b>@comment.CreatedBy</b> @comment.TimeCreated</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        @if (comment.Evidences.Any())
                                        {
                                            if (System.IO.File.Exists(System.IO.Directory.GetCurrentDirectory() + "/wwwroot/Resources/Monitoring/" + comment.Evidences.FirstOrDefault().Path + "/" + comment.Evidences.FirstOrDefault().Name))
                                            {
                                                <img style=" width:30%" src="@("/Resources/Monitoring/" + comment.Evidences.FirstOrDefault().Path + "/" + comment.Evidences.FirstOrDefault().Name)" />
                                            }
                                        }

                                    </div>
                                    <div class="col-md-10 text-left">
                                        <p style="text-transform: uppercase;">@comment.Comment</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                    }
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="comentarioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>

@*Modal de checkpoints*@
<div class="modal fade" id="checkpointModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
<script>
    function agregarComentario(id) {
        $.get(`/Monitor/Comment?id=${id}`, function (data) {
            $('#comentarioModal').html(data);
            $('#comentarioModal').modal('show');
        });
    }

    function verCheckpoint(idviaje, idruta, fechasalida) {
        $.get(`/Monitor/Checkpoint?idviaje=${idviaje}&idruta=${idruta}&fecha=${fechasalida}`, function (data) {
            $('#checkpointModal').html(data);
            $('#checkpointModal').modal('show');
        });
    }

    function saveCheckpoint(idviaje, idcheckpoint, idruta, fechasalida) {
        var horaReal = $("#horaReal-" + idviaje).val();
        var jsonData = { "idSection": idviaje, "idCheckpoint": idcheckpoint, "HoraReal": horaReal };
        console.log(jsonData);
        $.post("/Monitor/setSCheckpoints", jsonData, function (res) {
            console.log(res);
            verCheckpoint(idviaje, idruta, fechasalida);
        });
    }

    function setComent() {
        $("#btnComentario").prop('disabled', true);
        if ($("#subestatusModal").val() != 0) {
            var jsonData = convertJson($("#frmComentario"));
            var formData = new FormData(document.getElementById("frmComentario"));
            formData.append('file', $('#FileArchivo')[0].files[0]);
            $.ajax({
                url: "/Monitor/setCommentario",
                type: "POST",
                data: formData,
                contentType: false,
                processData: false,
                success: function (data) {
                    dToast("success", "Registro actualizado exitosamente.", "Actualizado");
                    $("#btnComentario").prop('disabled', false);
                    $("#monitoreo").click();
                    //getConteo();
                },
                error: function (data) {
                    $("#btnComentario").prop('disabled', false);
                    dToast("error", "Ocurrio un error al intentar guardar el archivo.", "Error");
                }
            });
            $("#comentarioModal").modal("hide");
        } else {
            dToast("error", "Todos los campos son necesarios.", "Atención");
        }
    }

</script>