@model KLS_WEB.Models.Travels.Travel


@if (Model.Servicios != null)
{
    string html = string.Empty;
    var servicios = Model.Servicios.Replace("=on", "").Split("&");

    foreach (var item in servicios)
    {
        switch (item)
        {
            case "terrestrenacional":

                <div id="terrestrenacional">
                    <div class="row mt-3">
                        <div class="col-4 d-flex flex-row">
                            <i class="material-icons text-danger my-auto" style="cursor:pointer;" onclick="{ removeService('terrestrenacional'); }">delete</i>
                            <h5 class="my-auto">Terrestre Nacional</h5>
                        </div>
                        <div class="col-8 d-flex justify-content-end">
                            <div class="d-flex justify-content-between">

                                <div class="form-group row mr-3 my-auto">
                                    <label class="col-sm-3 col-form-label col-form-label-sm">COSTO</label>
                                    <div class="col-sm-9 my-auto">
                                        <input type="text" class="form-control form-control-sm" id="costo" disabled>
                                    </div>
                                </div>
                                <div class="form-group row my-auto">
                                    <label class="col-sm-6 col-form-label col-form-label-sm mr-0">PRECIO A CLIENTE</label>
                                    <div class="col-sm-6 my-auto">
                                        <input type="number" class="form-control form-control-sm precios" name="terrestrenacionalprecio" onkeyup="setPrecios();" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-6 card">
                            <div class="form-group mt-3">
                                <label class="col-form-label col-form-label-sm font-weight-bold">TRANSPORTISTA</label>
                                <div>
                                    <select class="form-control form-control-sm" id="transportista" name="transportista" style="width: 100%;" onchange="{ getOperadores(this.value); }">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <label class="col-form-label col-form-label-sm font-weight-bold">CHOFER</label>
                                <select class="form-control form-control-sm" id="chofer" name="chofer" style="width: 100%;" onchange="{ getOperador(this.value) }">
                                    <option value="0">DEBES SELECCIONAR UN TRANSPORTISTA</option>
                                </select>
                                <div class="row mt-3">
                                    <div class="col-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="licencia" checked disabled>
                                            <label class="form-check-label" for="licencia">
                                                LICENCIA
                                            </label>
                                        </div>

                                    </div>

                                    <div class="col-8">
                                        <span id="nolicencia" class="size-12"></span>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="telefono" checked disabled>
                                            <label class="form-check-label" for="telefono">
                                                No. Telefono
                                            </label>
                                        </div>

                                    </div>

                                    <div class="col-8">
                                        <span id="notelefono" class="size-12"></span>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="imss" checked disabled>
                                            <label class="form-check-label" for="imss">
                                                IMSS
                                            </label>
                                        </div>

                                    </div>

                                    <div class="col-9 d-flex justify-content-between flex-row">
                                        <span id="noimss" class="size-12 my-2"></span>
                                        <i class="material-icons text-danger" style="cursor:pointer; font-size:2.5rem;" onclick="downloadChofer(this);">cloud_download</i>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-6 bg-light-grey">
                            <div class="col-12">
                                <div class="row mb-0">
                                    <div class="poppins medium size-14 text-left mt-4 mb-3 col-4">TIPO DE UNIDAD</div>
                                    <div class="poppins medium size-14 text-left mt-4 mb-3 col-7 ml-2">ELEGIR EQUIPO</div>
                                </div>
                                <div class="equipocontainer">
                                </div>
                                <i class="material-icons" style="cursor:pointer;" onclick="addEquipo('terrestrenacional', this);">add_box</i>
                            </div>
                        </div>
                    </div>
                </div>

                break;
            case "naviera":
                <p class="text-info">@item</p>
                break;
            case "agenteaduanal":
                <p class="text-info">@item</p>
                break;
            case "terrestreinternacional":
                <p class="text-info">@item</p>
                break;
            case "aerolinea":
                <p class="text-info">@item</p>
                break;
            case "coloaders":
                <p class="text-info">@item</p>
                break;
            default:
                break;
        }
    }
}
<script>

    downloadChofer = button => {
        const boton = jQuery(button);
        const idchofer = $('#chofer').val();
        console.log(idchofer);
    }

    getOperador = idoperador => {
        $.get(`/Carriers/Operators/GetOperator/${idoperador}`, ({ id, noLicencia, noTelefono, imss }) => {
            $('#nolicencia').text(noLicencia);
            $('#notelefono').text(noTelefono);
            $('#noimss').text(imss);
        });
    };

    getOperadores = idtransportista => {
        const idselected = $('.equipocontainer').attr('rel');
        idselected != idtransportista && $('.equipocontainer select').parent().remove();
        $.get("/Carriers/Operators/getOperators", { Id_Transportista: idtransportista }, res => {
            res.find(x => x.estatus === 1) && getOperador(res.find(x => x.estatus === 1).id);
            $('#chofer').empty();
            res.length > 0 ? res.map(({ id, nombre, estatus }) => estatus === 1 ? $('#chofer').append(`<option value="${id}">${nombre}</option>`) : null) : $('#chofer').append(`<option value="0">SIN OPERADORES ACTIVOS</option>`);
            dSelect('chofer');
        });
    }

    $.get("/Carriers/getCarriers", res => {
        res.find(x => x.estatus === 1) && getOperadores(res.find(x => x.estatus === 1).id);
        res.map(({ id, nombreComercial, estatus }) => estatus === 1 ? $('#transportista').append(`<option value="${id}">${nombreComercial}</option>`) : null);
        dSelect('transportista');
    });

    removeService = service => {
        $(`#${service}`).hide('slow', () => {
            $(`#${service}`).remove();
            $('.serviciosseleccionados').children().length === 1 ? $(`.addServicios`).show('slow', () => { $('.addServicios').show(); }) : null;
        });
    }

</script>