@model KLS_WEB.Models.Travels.DTO.ServicesDTO


@if (Model.Services.Any())
{
    foreach (var item in Model.Services)
    {
        switch (item)
        {
            case "terrestrenacional":
                <div id="terrestrenacional" class="pl-3">
                    <div class="row mt-3">
                        <div class="col-4 d-flex flex-row">
                            <i class="material-icons text-danger my-auto deleteterrestrenacional service" style="cursor:pointer;" onclick="{ confirmDelete('terrestrenacional', 0) }">delete</i>
                            <h5 class="my-auto">Terrestre Nacional</h5>
                        </div>
                        <div class="col-8 d-flex justify-content-end">
                            <div class="d-flex justify-content-between">

                                <div class="form-group row mr-3 my-auto">
                                    <label class="col-5 col-form-label col-form-label-sm">COSTO $</label>
                                    <div class="col-7 my-auto">
                                        <input type="number" class="form-control form-control-sm costos" aria-describedby="tncosto" name="terrestrenacionalcosto" onkeyup="{ setCostos(this); }" onchange="{ this.value = parseFloat(this.value).toFixed(2); }" required>
                                    </div>
                                </div>
                                <div class="form-group row my-auto">
                                    <label class="col-6 col-form-label col-form-label-sm mr-0">PRECIO A CLIENTE $</label>
                                    <div class="col-6 my-auto">
                                        <input type="number" class="form-control form-control-sm precios mb-0" name="terrestrenacionalprecio" onkeyup="{ setPrecios(this); }" onchange="{ this.value = parseFloat(this.value).toFixed(2); }" required>
                                        <small class="text-black-50 mt-0 priceinfo"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-6 card">
                            <div class="form-group mt-3">
                                <label class="col-form-label col-form-label-sm font-weight-bold">TRANSPORTISTA</label>
                                <div>
                                    <select asp-items="Model.Selects.Carriers" class="form-control form-control-sm" id="transportista" name="transportista" style="width: 100%;" onchange="{ getOperadores(this.value); }"></select>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <label class="col-form-label col-form-label-sm font-weight-bold">CHOFER</label>
                                <select class="form-control form-control-sm" id="chofer" name="chofer" style="width: 100%;" onchange="{ getOperador(this.value) }">
                                    <option value="0">DEBES SELECCIONAR UN TRANSPORTISTA</option>
                                </select>
                                <div class="row mt-3">
                                    <div class="col-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="licencia" checked disabled>
                                            <label class="form-check-label" for="licencia">
                                                LICENCIA
                                            </label>
                                        </div>

                                    </div>

                                    <div class="col-8">
                                        <span id="nolicencia" class="size-12"></span>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="telefono" checked disabled>
                                            <label class="form-check-label" for="telefono">
                                                No. Telefono
                                            </label>
                                        </div>

                                    </div>

                                    <div class="col-8">
                                        <span id="notelefono" class="size-12"></span>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="imss" checked disabled>
                                            <label class="form-check-label" for="imss">
                                                IMSS
                                            </label>
                                        </div>

                                    </div>

                                    <div class="col-9 d-flex justify-content-between flex-row">
                                        <span id="noimss" class="size-12 my-2"></span>
                                        <i class="material-icons text-danger" style="cursor:pointer; font-size:2.5rem;" onclick="{ downloadChofer(this); }">cloud_download</i>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-6 bg-light-grey">
                            <div class="col-12">
                                <div class="row mb-0">
                                    <div class="poppins medium size-14 text-left mt-4 mb-3 col-4">TIPO DE SERVICIO</div>
                                    <div class="poppins medium size-14 text-left mt-4 mb-3 col-7 ml-2">ELEGIR EQUIPO</div>
                                </div>
                                <div class="equipocontainer">
                                </div>
                                <i id="addEquipo" class="material-icons" style="cursor:pointer;" onclick="addEquipo('terrestrenacional', this);">add_box</i>
                            </div>
                        </div>
                    </div>
                </div>

                break;
            case "naviera":
                <p class="text-info">@item</p>
                break;
            case "agenteaduanal":
                <p class="text-info">@item</p>
                break;
            case "terrestreinternacional":
                <p class="text-info">@item</p>
                break;
            case "aerolinea":
                <p class="text-info">@item</p>
                break;
            case "coloaders":
                <p class="text-info">@item</p>
                break;
            default:
                break;
        }
    }
}