@model KLS_WEB.Models.Travels.Travel

    <style>
        small {
            font-size: .7rem;
        }
    </style>

    @if (Model.Servicios != null)
    {
        string html = string.Empty;
        var servicios = Model.Servicios.Replace("=on", "").Split("&");
        var serviciosids = Model.ServiciosIds is null ? Array.Empty<string>() : Model.ServiciosIds.Split("&");
        int index = 0;

        foreach (var item in servicios)
        {
            switch (item)
            {
                case "terrestrenacional":
                    <div id="terrestrenacional">
                        <div class="row mt-3">
                            <div class="col-4 d-flex flex-row">
                                <i class="material-icons text-danger my-auto deleteterrestrenacional service" rel="@(serviciosids.Any() ? serviciosids[index] : "0")" style="cursor:pointer;" onclick="{ confirmDelete('terrestrenacional', @(serviciosids.Any() ? serviciosids[index] : "0")) }">delete</i>
                                <h5 class="my-auto">Terrestre Nacional</h5>
                            </div>
                            <div class="col-8 d-flex justify-content-end">
                                <div class="d-flex justify-content-between">

                                    <div class="form-group row mr-3 my-auto">
                                        <label class="col-5 col-form-label col-form-label-sm">COSTO $</label>
                                        <div class="col-7 my-auto">
                                            <input type="number" class="form-control form-control-sm costos" aria-describedby="tncosto" name="terrestrenacionalcosto" onkeyup="{ setCostos(this); }" onchange="{ this.value = parseFloat(this.value).toFixed(2); }" required>
                                        </div>
                                    </div>
                                    <div class="form-group row my-auto">
                                        <label class="col-6 col-form-label col-form-label-sm mr-0">PRECIO A CLIENTE $</label>
                                        <div class="col-6 my-auto">
                                            <input type="number" class="form-control form-control-sm precios mb-0" name="terrestrenacionalprecio" onkeyup="{ setPrecios(this); }" onchange="{ this.value = parseFloat(this.value).toFixed(2); }" required>
                                            <small class="text-black-50 mt-0 priceinfo"></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-6 card">
                                <div class="form-group mt-3">
                                    <label class="col-form-label col-form-label-sm font-weight-bold">TRANSPORTISTA</label>
                                    <div>
                                        <select class="form-control form-control-sm" id="transportista" name="transportista" style="width: 100%;" onchange="{ getOperadores(this.value); }">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group mt-3">
                                    <label class="col-form-label col-form-label-sm font-weight-bold">CHOFER</label>
                                    <select class="form-control form-control-sm" id="chofer" name="chofer" style="width: 100%;" onchange="{ getOperador(this.value) }">
                                        <option value="0">DEBES SELECCIONAR UN TRANSPORTISTA</option>
                                    </select>
                                    <div class="row mt-3">
                                        <div class="col-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="licencia" checked disabled>
                                                <label class="form-check-label" for="licencia">
                                                    LICENCIA
                                                </label>
                                            </div>

                                        </div>

                                        <div class="col-8">
                                            <span id="nolicencia" class="size-12"></span>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="telefono" checked disabled>
                                                <label class="form-check-label" for="telefono">
                                                    No. Telefono
                                                </label>
                                            </div>

                                        </div>

                                        <div class="col-8">
                                            <span id="notelefono" class="size-12"></span>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="imss" checked disabled>
                                                <label class="form-check-label" for="imss">
                                                    IMSS
                                                </label>
                                            </div>

                                        </div>

                                        <div class="col-9 d-flex justify-content-between flex-row">
                                            <span id="noimss" class="size-12 my-2"></span>
                                            <i class="material-icons text-danger" style="cursor:pointer; font-size:2.5rem;" onclick="{ downloadChofer(this); }">cloud_download</i>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-6 bg-light-grey">
                                <div class="col-12">
                                    <div class="row mb-0">
                                        <div class="poppins medium size-14 text-left mt-4 mb-3 col-4">TIPO DE UNIDAD</div>
                                        <div class="poppins medium size-14 text-left mt-4 mb-3 col-7 ml-2">ELEGIR EQUIPO</div>
                                    </div>
                                    <div class="equipocontainer">
                                    </div>
                                    <i id="addEquipo" class="material-icons" style="cursor:pointer;" onclick="addEquipo('terrestrenacional', this);">add_box</i>
                                </div>
                            </div>
                        </div>
                    </div>

                    break;
                case "naviera":
                    <p class="text-info">@item</p>
                    break;
                case "agenteaduanal":
                    <p class="text-info">@item</p>
                    break;
                case "terrestreinternacional":
                    <p class="text-info">@item</p>
                    break;
                case "aerolinea":
                    <p class="text-info">@item</p>
                    break;
                case "coloaders":
                    <p class="text-info">@item</p>
                    break;
                default:
                    break;
            }
            ++index;
        }
    }
    <script>
        getEquipos = () => {
            const length = --$('.selectequipo').length;
            let data = ``;
            i = 0;
            while (i <= length) {
                const select = document.getElementsByClassName('selectequipo')[i],
                    options = select.options;
                data += `${i !== 0 ? '&' : ''}${select.name}=${options[options.selectedIndex].value}`;
                ++i;
            }
            return data;
        }

        getUnidades = () => {
            const length = --$('.selectunidad').length;
            let data = ``;
            i = 0;
            while (i <= length) {
                const select = document.getElementsByClassName('selectunidad')[i],
                    options = select.options;
                data += `${i !== 0 ? '&' : ''}${select.name}=${options[options.selectedIndex].value}`;
                ++i;
            }
            return data;
        }

        setPrecios = () => {
            const precios = $('.precios');
            let total = 0;
            precios.map(index => {
                const cantidad = Number.isNaN(Number.parseFloat(precios.eq(index).val())) ? 0 : precios.eq(index).val();
                total += parseFloat(cantidad);
            });
            total = parseFloat(total).toFixed(2);
            $('#preciocliente, .preciocliente').text(`${total}`);
        }

        setCostos = () => {
            const costos = $('.costos');
            let total = 0;
            costos.map(index => {
                const cantidad = Number.isNaN(Number.parseFloat(costos.eq(index).val())) ? 0 : costos.eq(index).val();
                total += parseFloat(cantidad);
            });
            total = parseFloat(total).toFixed(2);
            $('#costos').text(`${total}`);
        }

        selectEquipo = (IdTransportista, IdTipoUnidad, selectid) => {
            $.get(`/Carriers/Inventory/GetEquipos/${IdTransportista}`, ({ dataReport }) => {
                const equipos = dataReport.filter(x => x.tipoUnidad == IdTipoUnidad);
                $(`#equipo${selectid}`).empty();
                $(`#equipo${selectid}`).append(`<option value="0">SELECCIONA UN EQUIPO</option>"`)
                if (equipos.length > 0) {
                    equipos.map(({ id, marca, modelo, placa }) => {
                        $(`#equipo${selectid}`).append(`<option value="${id}">${marca}, ${modelo}. PLACA: ${placa}</option>"`);
                    });
                } else {
                    $(`#equipo${selectid}`).append(`<option value="0">No existen unidades activas</option>"`);
                }
            });
        }

        getInventario = (IdTransportista, elementId) => {
            $.get(`/Carriers/Inventory/GetEquipos/${IdTransportista}`, res => {
                const { unidades } = res;
                if (unidades.length > 0) {
                    $(`#unidad${elementId}`).append(`<option value="0">SELECCIONA UNA UNIDAD</option>`);
                    unidades.map(({ tipoUnidad, nombre }) => {
                        $(`#unidad${elementId}`).append(`<option value="${tipoUnidad}">${nombre[0]}</option>`);
                    });
                    selectEquipo(IdTransportista, unidades[0].tipoUnidad, elementId);
                } else {
                    $('.selectunidad').append(`<option value="0">No existen unidades activas</option>`);
                    $('.selectequipo').append(`<option value="0">No existen equipos activos</option>`);
                }
            });
        };

        addEquipo = (servicio, element) => {
            const boton = jQuery(element);
            const idtransportista = $('#transportista').val();
            const elementid = $('.equipocontainer').children().length;
            $('.equipocontainer').attr('rel', idtransportista);
            boton.remove();

            const equipo = `<div class="d-flex justify-content-between equipo mt-2">
                            <select id="unidad${elementid}" class="form-control form-control-sm col-4 selectunidad" name="unidad${servicio}" required onchange="{selectEquipo(${idtransportista}, this.value, ${elementid});}">
                            </select>
                            <div class="col-8 d-flex flex-row justify-content-between">
                                <select id="equipo${elementid}" class="form-control form-control-sm col-10 selectequipo" name="equipo${servicio}" required>
                                </select>
                                <i class="material-icons text-danger" style="cursor: pointer;" onClick="{$(this).parent().parent().remove();}">delete</i>
                            </div>
                        </div>
                        <i id="addEquipo" class="material-icons" style="cursor:pointer;" onclick="addEquipo('${servicio}', this);">add_box</i>`;

            $('.equipocontainer').append(equipo);
            getInventario(idtransportista, elementid);
        }

        downloadChofer = element => {
            const idchofer = $('#chofer').val();
            if (idchofer == 0) {
                dToast("error", "NO HAY UN CHOFER SELECCIONADO", "Error");
            } else {
                const a = $("<a>")
                    .attr("href", "/Carriers/Operators/DescargarZip/" + idchofer)
                    .appendTo("body");
                a[0].click();
                a.remove();
            }
        }

        getOperador = idoperador => {
            $.get(`/Carriers/Operators/GetOperator/${idoperador}`, ({ id, noLicencia, noTelefono, imss }) => {
                $('#nolicencia').text(noLicencia);
                $('#notelefono').text(noTelefono);
                $('#noimss').text(imss);
            });
        };

        getOperadores = idtransportista => {
            const idselected = $('.equipocontainer').attr('rel');
            idselected != idtransportista && $('.equipocontainer select').parent().remove();
            $.get("/Carriers/Operators/getOperators", { Id_Transportista: idtransportista }, res => {
                res.find(x => x.estatus === 1) && getOperador(res.find(x => x.estatus === 1).id);
                $('#chofer').empty();
                $('#chofer').append(`<option value="0" selected disabled>SELECCIONA UN CHOFER</option>`)
                res.length > 0 ? res.map(({ id, nombre, estatus }) => estatus === 1 ? $('#chofer').append(`<option value="${id}">${nombre}</option>`) : null) : $('#chofer').append(`<option value="0">SIN OPERADORES ACTIVOS</option>`);
                dSelect('chofer');
            });
        }

        $.get("/Carriers/getCarriers", res => {
            res.find(x => x.estatus === 1) && getOperadores(res.find(x => x.estatus === 1).id);
            $('#transportista').append(`<option value="0" selected disabled>SELECCIONA UNA TRANSPORTISTA</option>`);
            res.map(({ id, nombreComercial, estatus }) => estatus === 1 ? $('#transportista').append(`<option value="${id}">${nombreComercial}</option>`) : null);
            dSelect('transportista');
        });

        removeService = (service, serviceid) => {
            serviceid > 0 && $.post(`/Travels/DeleteService/${serviceid}`, () => dToast("success", "Se eliminó el servicio", "Registrado"));

            $(`#${service}`).hide('slow', () => {
                $('#popup').modal('hide');
                $(`#${service}`).remove();
                $(`[name=${service}]`).prop('checked', false);
                $('.serviciosseleccionados').children().length === 1 ? ($(`.addServicios`).show('slow', () => { $('.addServicios').show(); }), $('#frmServicios input').prop('checked', false)) : null;
            });
        }

        confirmDelete = (service, serviceid) => {
            $('#confirm').attr('onClick', `removeService('${service}', ${serviceid});`);
            $('#popup').modal('show');
        }

    </script>