@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KLS_WEB</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@500;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/theme.css">
    <link rel="stylesheet" href="~/css/toastr.css">
    <link href="/css/dataTable.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.full.min.js" integrity="sha512-wb3lqal2VtYhmlPAr232VP+Zus676CFAEYdywxIUSxG6F/X9WhN6SpREkWUdwBvMpd6gCKuKTGHhdum6m1wOvQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @RenderSection("Styles", required: false)
    <style>
        .spinner-tbl {
        border: 4px solid rgba(0, 0, 0, 0.1);
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border-left-color: #9E9E9E;
        animation: spin 1s ease infinite;
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
    </style>
</head>
<body>
    <div id="app" translate="no">
        <!-- CONTENT -->
        <div>
            <!-- TOP BAR -->
            <div class="top-bar">
                <div class="pl-4 text-left pt-3">
                    <a href="/" class="mt-1">
                        <img src="/img/LogoKLSNET.png" height="36" width="100" alt="KLS">
                    </a>
                </div>
                <div class="pr-4 text-right">
                    <div class="d-block pt-2 mt-2">
                        @*<div class="d-inline size-12">Hola @User.Identity.Name!</div>*@
                        <div class="d-inline size-12">Hola @HttpContextAccessor.HttpContext.Session.GetString("Nombre") @HttpContextAccessor.HttpContext.Session.GetString("Apaterno")</div>
                        <a asp-controller="Login" asp-action="Logout">
                            <div class="d-inline material-icons pl-2 c-pointer" style="vertical-align: -8px;">logout</div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- END TOP BAR -->
            <div class="wrapper">
                <!-- LEFT BAR -->
                <div id="left_bar" class="left-bar bg-dark text-white pt-2 expand">
                    <div class="bar-container">
                        <div class="expand-control unselectable" onclick="hideMenu();">
                            <div class="material-icons arrow-bar size-32 c-pointer pl-3">chevron_right</div>
                        </div>
                        <ul class="list-unstyled text-left">
                            <li class="pt-2 pl-4">
                                <a href="/Catalogs">
                                    <div class="material-icons size-18 pr-1">settings</div>
                                    <label>Catálogos</label>
                                </a>
                            </li>
                            <li class="pt-2 pl-4">
                                <a href="/Travels">
                                    <div class="material-icons size-18 pr-1">flight_takeoff</div>
                                    <label>Viajes</label>
                                </a>
                            </li>

                            <li class="pt-2 pl-4">
                                <a href="">
                                    <div class="material-icons size-18 pr-1" style="transform: rotate(-45deg);">send</div>
                                    <label>Monitoreo</label>
                                </a>
                            </li>

                            <li class="pt-2 pl-4">
                                <a href="/Offer">
                                    <div class="material-icons size-18 pr-1">article</div>
                                    <label>Oferta</label>
                                </a>
                            </li>

                            <li class="pt-2 pl-4">
                                <a href="/Demand">
                                    <div class="material-icons size-18 pr-1">search</div>
                                    <label>Demanda</label>
                                </a>
                            </li>

                            <li class="pt-2 pl-4">
                                <a href="/Route">
                                    <div class="material-icons size-18 pr-1">map</div>
                                    <label>Rutas</label>
                                </a>
                            </li>

                            <li class="pt-2 pl-4">
                                <a href="/Clients">
                                    <div class="material-icons size-18 pr-1">person</div>
                                    <label>Clientes</label>
                                </a>
                            </li>

                            <li class="pt-2 pl-4">
                                <a href="/Carriers">
                                    <div class="material-icons size-18 pr-1">local_shipping</div>
                                    <label>Transportistas</label>
                                </a>
                            </li>

                            <li class="pt-2 pl-4">
                                <a href="/Security">
                                    <div class="material-icons size-18 pr-1">security</div>
                                    <label>Seguridad</label>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- END LEFT BAR -->
                <div class="data-content pt-4 mt-30">
                    @RenderBody()
                </div>
            </div>
        </div>
        <!-- END CONTENT -->
    </div>

    <div class="modal fade" id="modalDetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="htmlTitulo"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="htmlDetalle"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="~/js/toastr.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--Datatable-->
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    @RenderSection("Scripts", required: false)
<script>
        var hideMenuLeft = true;
        $(document).ready(function () {
            var value = '@HttpContextAccessor.HttpContext.Session.GetString("Nombre")';
            if (value == "") {
                $.post("Login/Logout", function () {
                    location.reload();
                });
            }

            updateContainer();
            $(window).resize(function () {
                updateContainer();
            });

            const localeFunc = (number, index, totalSec) => {
                return [
                    ['JUSTO AHORA', 'JUSTO AHORA'],
                    ['HACE %s SEGUNDOS', 'EN %s SEGUNDOS'],
                    ['HACE 1 MINUTO', 'EN 1 MINUTO'],
                    ['HACE %s MINUTOS', 'EN %s MINUTOS'],
                    ['HACE 1 HORA', 'EN 1 HORA'],
                    ['HACE %s HORAS', 'EN %s HORAS'],
                    ['HACE 1 DIA', 'EN 1 DIA'],
                    ['HACE %s DIAS', 'EN %s DIAS'],
                    ['HACE 1 SEMANA', 'EN 1 SEMANA'],
                    ['HACE %s SEMANAS', 'EN %s SEMANAS'],
                    ['HACE 1 MES', 'EN 1 MES'],
                    ['HACE %s MESES', 'EN %s MESES'],
                    ['HACE 1 AÑO', 'EN 1 AÑO'],
                    ['HACE %s AÑOS', 'EN %s AÑOS']
                ][index];
            };
            timeago.register('es-MX', localeFunc);
        });

        function hideMenu() {
            hideMenuLeft = !hideMenuLeft;
            sessionStorage.setItem("hideMenu", hideMenuLeft);
            eventHide();
        }

        function eventHide() {
            var sessionMenu = sessionStorage.getItem("hideMenu");
            if (sessionMenu == "false") {
                $(".left-bar").removeClass("expand");
            } else {
                $(".left-bar").addClass("expand");
            }
        }

        function updateContainer() {
            var $containerWidth = $(window).width();
            var $containerHeight = $(window).height();

            if ($containerWidth <= 1284) {
                $(".left-bar").removeClass("expand");
            }
            if ($containerWidth > 1285) {
                $(".left-bar").addClass("expand");
                eventHide();
            }
        }

        function dTable(table) {
            $('.' + table).DataTable({
                bDestroy: true,
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        }

        function dToast(tipo = "success", mensaje = "Vacio", titulo = "Atención", posicion = "toast-top-right") {
            //toast-bottom-right-toast-bottom-left-toast-top-left-toast-top-full-width
            toastr.options =
            {
                "debug": false,
                "positionClass": posicion,
                "onclick": null,
                "fadeIn": 300,
                "fadeOut": 100,
                "timeOut": 3000,
                "extendedTimeOut": 3000
            }
            toastr[tipo](mensaje, titulo);
        }

        function dSwal(tipo = "confirmation", descripcion = "", titulo = "Atención") {
            Swal.fire(titulo, descripcion, tipo);
        }

        function statusTable(status) {
            if (parseInt(status) == 1) {
                return "Activo";
            } else {
                return "Inactivo";
            }
        }

        function convertJson(form) {
            var array = jQuery(form).serializeArray();
            var json = {};

            jQuery.each(array, function () {
                json[this.name] = this.value || '';
            });
            return json;
        }

        function nCon(key) {
            return key == null ? "" : key;
        }

        function showNota(notaDetalle, titulo = "Descripcion") {
            $("#htmlDetalle").empty();
            $("#htmlTitulo").empty();
            $("#htmlDetalle").append(notaDetalle);
            $("#htmlTitulo").append(titulo);
            $("#modalDetalle").modal("show");
        }

        function dSelect(select) {
            $('#' + select).select2({
                language: {
                    noResults: function () {
                        return "No se encontraron resultados";
                    },
                    searching: function () {
                        return "Buscando..";
                    }
                }, dropdownCssClass: "letraSelect"
            } );
        }

        //funcion de cargar paginado

</script>
</body>
</html>
